<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crazyProject.mapper.sign.UserMapper">

    <select id="idCheck" resultType="HashMap">
        SELECT count(user_id) as CHK
        FROM user_info
        WHERE 1=1
        AND user_id = #{userId}
    </select>

    <insert id="signUp" parameterType="com.example.crazyProject.sign.domain.User">
        INSERT INTO user_info
        (
         user_id,
         user_name,
         password,
         mobile_number,
         birth,
         zipcode,
         address,
         address_detail,
         access_ip,
         use_yn,
         register_date,
         modify_date
         )
        VALUES
        (
         #{user_id},
         #{user_name},
         #{password},
         #{mobile_number},
         #{birth},
         #{zipcode},
         #{address},
         #{address_detail},
         #{access_ip},
         true,
         now(),
         now()
        )
    </insert>

    <select id="signIn" resultType="HashMap">
        SELECT id,
               user_id,
               password,
               mobile_number,
               birth,
               zipcode,
               address,
               address_detail
        FROM user_info
        WHERE user_id = #{user_id}
        AND use_yn = true
    </select>

    <update id="withdrawal">
        UPDATE user_info SET
        access_ip = '127.0.0.1',
        use_yn = false,
        modify_date = now()
        WHERE user_id = #{user_id}
    </update>

    <insert id="insertLog">
        INSERT INTO user_info_log
        (
         acs_user_id,
         acs_password,
         access_ip,
         register_date
        )
        VALUES
        (
         #{userId},
         #{password},
         #{ip},
         now()
        )
    </insert>
</mapper>